* {
    margin: 0;
    padding: 0;
}

.header {

    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/Banner\ Image.png);
    width: 1400px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: 40px auto;
}

.box {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding: 250px;


}

.text-two {
    font-size: 80px;
}

.text-three {
    color: #F00;
    text-align: center;
    font-family: 'Lucida sans' sans-serif;
    font-size: 70px;
    margin-top: 100px;



}

.text-four {
    color: #F00;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    font-family: 'Lucida Sans', sans-serif;
    margin-top: 30px;
    gap: 50px;
}

.text-five {
    color: #070211;
    text-align: center;

    font-size: 40px;
    margin-top: 15px;

}

.image-new {
    background-size: cover;
    margin-left: 25%;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.image-three {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('../img/Vectorrr.png');
    width: 1400px;
    border-radius: 15px;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: 40px auto;
}

.image-three h1 {
    color: #FFF;
    text-align: left;
    align-items: center;
    font-size: 70px;
    width: 500px;
    padding-top: 100px;
    padding-left: 120px;
    font-family: sans-serif;

}

.first-p {
    color: rgba(255, 255, 255, 0.452);
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    padding-left: 120px;
    width: 700px;


}

.btn {
    display: inline-block;
    color: #FFF;
    margin-left: 120px;
    margin-top: 40px;
    border: none;
    text-align: center;
    background: linear-gradient(rgba(0,0,0));
   
    

}

.join span {
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;


}

.join h3 {
    font-size: 25px;


}

.join {
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 65px;
    height: 50vh;
    border-radius: 10px;

}

.join-two {
    padding: 80px;
    gap: 10px
}

.date {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-join {
    border-radius: 8px;
    background: #F00;
    padding: 10px;
    color: #FFF;
    margin-top: 40px;
    border: none;

}