* {
    margin: 0;
    padding: 0;
}

.header {

    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/Banner\ Image.png);
    width: 1400px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: 40px auto;
}

.box {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding: 250px;


}

.text-two {
    font-size: 80px;
}

.text-three {
    color: #F00;
    text-align: center;
    font-family: 'Lucida sans' sans-serif;
    font-size: 70px;
    margin-top: 100px;



}

.text-four {
    color: #F00;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    font-family: 'Lucida Sans', sans-serif;
    margin-top: 30px;
    gap: 50px;
}

.text-five {
    color: #070211;
    text-align: center;

    font-size: 40px;
    margin-top: 15px;

}

.image-new {
    background-size: cover;
    margin-left: 25%;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.image-three {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url('../img/Vectorrr.png');
    width: 1400px;
    border-radius: 15px;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: 40px auto;
}

.image-three h1 {
    color: #FFF;
    text-align: left;
    align-items: center;
    font-size: 70px;
    width: 500px;
    padding-top: 100px;
    padding-left: 120px;
    font-family: sans-serif;

}

.first-p {
    color: rgba(255, 255, 255, 0.452);
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    padding-left: 120px;
    width: 700px;


}

.btn {
    color: #0a0101;
    margin-left: 120px;
    margin-top: 40px;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(247, 247, 42, 0.856);



}

.join span {
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;


}

.join h3 {
    font-size: 25px;


}

.join {
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 60px;
    height: 50vh;
    border-radius: 10px;

}

.join-two {
    padding: 80px;
    gap: 10px
}

.date {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-join {
    border-radius: 8px;
    background: #F00;
    padding: 10px;
    color: #FFF;
    margin-top: 40px;
    border: none;

}

.nev-text {
    color: #F00;
    font-family: sans-serif;
    font-size: 30px;


}

.nav-text-two {

    color: #070211;
    font-family: sans-serif;
    font-size: 60px;
    padding: 15px 0px;



}

.nev-paragraph {
    height: 50px;
    color: rgba(7, 2, 17, 0.60);
    font-family: sans-serif;
    font-size: 13px;
    width: 200px;




}

.nev-second {
    display: flex;
    border: 10px solid #F00;
    border-radius: 2000px;
    padding: 15px;
    width: 300px;
    height: 300px;
    background-position: center center;
    margin-left: 130px;



}

.nav-year {
    color: #F00;
    font-size: 55px;
    font-family: sans-serif;
}

.nav-paragraph-two {
    width: 280px;
    color: rgba(0, 0, 0, 0.601);
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 0px;


}

.nothing {
    display: flex;
    /* width: 100%auto; */
    /* height: 80%auto; */
    text-align: center;
    margin-bottom: 120px;


}

.nevbar {
    text-align: left;
    margin-top: 50px;
    margin-left: 100px;
}

.nev-three {
    text-align: left;
    width: 50px;
    margin-left: 170px;
    margin-top: 50px;
}

.best {
    color: #F00;
    font-family: sans-serif;
    font-size: 24px;
    margin-left: 60px;
    padding-top: 40px;


}

.awesome {
    color: #070211;
    font-size: 45px;
    margin-left: 60PX;
    margin-top: 10px;

}

.awesome-two {
    color: rgba(7, 5, 10, 0.54);
    margin-left: 60PX;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    width: 500px;

}

.img-text img {
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 10px;

}

.img-text img:hover {
    box-shadow: 0px 0px 10px 15px rgb(221, 219, 219);
    transition: 0.5s;
    border-radius: 80px;

}

.option {
    text-align: center;



}

.opt-text-two {
    color: black;
    font-size: 40px;
}

.opt-text-two span {
    color: #F00;
}

.opt-para {
    color: rgba(9, 8, 9, 0.53);
    width: 1500px;
    font-family: sans-serif;
    font-size: 15x;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center center;
}
.img-src {
    position: relative;
    left: 30px;
    text-align: right;
    padding-top: 20px;

}
.img-one {
    position: relative;
    left: 600px;
    text-align: right;
    padding-top: 20px;

}



label input {
    font-size: 15px;
    color: #F00;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 254, 254);
    border-radius: 20px 0px 0px 20px;

}

.email button {
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    font-size: 15px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    position: relative;
    right: 20px;
    background: #F00;
   
    
}

.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 80px 80px;
}

.subscribe img {
    padding: 30px 600px;
}

.subscribe-text {
    color: #090909ee;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.subscribe-para {
    color: rgba(7, 7, 7, 0.452);
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    width: 700px;
    padding-left: 300px;
    padding-bottom: 20px;
    

}
.email{
    margin-left: 500px;
    padding-bottom: 50px;
   
 
}  

.footer{
    color: #FFF;
    height: 400px;
    margin: auto;
    width: 1300;
    display: flex;
    background-color: #070211;

}
.icon-text{
    margin-left: 500px;
  
}

.call{
   
    padding: 10px;
    margin-left: 400px;
    text-align: center;
    height: 50px;
    width: 500px;
}
 .call h4 {
    padding-right: 5px;
 }
 .icon{
    margin: auto;
    padding: 20px;
    text-align: center;
    height: 60px;
    width: 1100px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}
 .icon-header{
        background-position: bottom left;
}